---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => a.data.pubDate.valueOf() + b.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />

    <style>
      .posts {
        max-width: 760px;
        margin: 0 auto;
        padding: 60px 20px;
      }
      .posts h2 {
        margin: 0 0 2rem;
        font-size: 1.8em;
        color: rgb(var(--black));
      }
      .posts ul {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
      .posts ul li {
        width: calc(50% - 1rem);
      }
      .posts ul li * {
        text-decoration: none;
        transition: 0.2s ease;
      }
      .posts ul li img {
        margin-bottom: 0.5rem;
        border-radius: 12px;
        height: 182px;
        object-fit: cover;
      }
      .posts ul li a {
        display: block;
      }
      .posts .title {
        margin: 0;
        color: rgb(var(--black));
        line-height: 1;
      }
      .posts .date {
        margin: 0;
        color: rgb(var(--gray));
      }
      .posts ul li a:hover h4,
      .posts ul li a:hover .date {
        color: rgb(var(--accent));
      }
      .posts ul a:hover img {
        box-shadow: var(--box-shadow);
      }
      @media (max-width: 720px) {
        .posts ul li {
          width: 100%;
          text-align: center;
        }
        .posts ul li:first-child {
          margin-bottom: 0;
        }
        .posts ul li:first-child .title {
          font-size: 1.563em;
        }
      }
    </style>
  </head>
  <body>
    <Header />
    <main>
      <h1>🧑‍🚀 Olá, visitante!</h1>
      <p>
        Bem-vindo ao meu blog! Sou um apaixonado engenheiro de software
        especializado em desenvolvimento frontend. Minha jornada profissional é
        centrada no ecossistema Vue.js e Nuxt.js, onde busco criar experiências
        web robustas e eficientes.
      </p>
      <p>
        Fique à vontade para explorar os artigos e tutoriais, e espero que você
        encontre inspiração e conhecimento útil para aprimorar seus projetos de
        frontend!
      </p>
      <p>
        Com anos de experiência na construção de interfaces de usuário dinâmicas
        e responsivas, estou constantemente explorando novas técnicas e
        ferramentas para aprimorar minhas habilidades. Este blog é meu espaço
        para compartilhar insights, dicas e boas práticas relacionadas ao
        desenvolvimento frontend, especialmente com um enfoque especial em
        Vue.js e Nuxt.js.
      </p>
    </main>

    <section class="posts">
      <h2>✍️ Artigos</h2>
      <ul>
        {
          posts.map(post => (
            <li>
              <a href={`/blog/${post.slug}/`}>
                <img
                  width={720}
                  height={360}
                  src={post.data.heroImage}
                  alt=""
                />
                <h4 class="title">{post.data.title}</h4>
                <p class="date">
                  <FormattedDate date={post.data.pubDate} />
                </p>
              </a>
            </li>
          ))
        }
      </ul>
    </section>
    <Footer />
  </body>
</html>
